{% extends "base.html.j2" %}

{% block app_content %}

<div class="container">
    <h1 class="text-center">All Applications</h1>
    <br/>

    <div class="row">
        {% for application in applications %}
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if current_user.__tablename__ == 'user' %}
                        <h3>{{ application.job.title }}</h3>
                        <p><strong>Company:</strong> {{ application.company.name }}</p>
                        <p><strong>Location:</strong> {{ application.job.location.location }}</p>
                        <p><strong>Category:</strong> {{ application.job.category.category }}</p>
                        <p><strong>Salary:</strong> {{ application.job.salary }}</p>
                        <p><strong>Status Available?:</strong> {{ application.job.available }}</p>
                        <p><strong>Application Status:</strong> {{ application.status }}</p>


                        <a href="{{ url_for('application', id=application.id )}}">View Application</a>
                        <a href="{{ url_for('application_edit', id=application.id )}}">Edit</a>
                        <a href="{{ url_for('application_delete', id=application.id )}}">Withdraw</a>

                        {% elif current_user.__tablename__ == 'company' %}
                        <h3>Applicant: {{ application.name }}</h3>
                        <h3>{{ application.job.title }}</h3>

                        <p><strong>JOB ID:</strong> {{ application.job_id }}</p>
                        <p><strong>Contact Number:</strong> {{ application.contact_number }}</p>
                        <p><strong>Contact Email:</strong> {{ application.contact_email }}</p>
                        <p><strong>Resume:</strong> {{ application.resume }}</p>
                        <p><strong>His/Her Message:</strong> {{ application.message }}</p>
                        <p><strong>Your Reply:</strong> {{ application.reply }}</p>
                        <p><strong>Application Status:</strong> {{ application.status }}</p>

                        <a href="{{ url_for('application', id=application.id )}}">View Application</a>
                        <a href="{{ url_for('application_reply', id=application.id )}}">Edit</a>
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>



{% endblock %}