{% extends "base.html.j2" %}

{% block app_content %}

<div class="container">
    <h1 class="text-center">Job results</h1>
    <br/>

    <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{{ job.title }}</h3>
                        <p><strong>Publisher:</strong> {{ job.publisher.name }}</p>
                        <p><strong>Location:</strong> {{ job.location_id }}</p>
                        <p><strong>Category:</strong> {{ job.category_id }}</p>
                        <p><strong>Description:</strong></p>
                        <p>{{ job.description }}</p>
                        <p><strong>Salary:</strong> {{ job.salary }}</p>
                        <a href="{{ url_for( 'jobs' )}}">Back to My Jobs</a>
                    </div>
                </div>
            </div>

    </div>

</div>



{% endblock %}