{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<h1>Job Search</h1>
<div class="row">
    <div class="col-md-4">{{ wtf.quick_form(form) }}</div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<div class="row">
    <div class="col-md-12">
        {% if jobs %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Salary</th>
                        <th>Still available?</th>
                        <th>Updated at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td><a href="{{ url_for('job', id=job.id )}}">{{ job.title }}</a></td>
                            <td><a href="{{ url_for('job_search', search=job.publisher.name)}}">{{ job.publisher.name }}</a></td>
                            <td>{{ job.location.location }}</td>
                            <td>{{ job.salary }} HKD</td>
                            <td>{{ job.available }}</td>
                            <td>{{ job.updated_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
</div>



{% endblock %}

{# not finish yet #}