{% extends "base.html.j2" %}

{% block app_content %}

{# 
<h1>Job results</h1>
<br/>

{% for job in jobs %}
    {{ job.title }}<br/>
    {{ job.publisher.name }}<br/>
    {{ job.location_id }}<br/>
    {{ job.category_id }}<br/>
    {{ job.description }}<br/>
    {{ job.salary }}<br/><br/>


{% endfor %} #}
<div class="container">
    <h1 class="text-center">Job results</h1>
    <br/>

    <div class="row">
        {% for job in jobs %}
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{{ job.title }}</h3>
                        <p><strong>Publisher:</strong> {{ job.publisher.name }}</p>
                        <p><strong>Location:</strong> {{ job.location.location }}</p>
                        <p><strong>Category:</strong> {{ job.category.category}}</p>
                        <p><strong>Description:</strong></p>
                        <p>{{ job.description }}</p>
                        <p><strong>Salary:</strong> {{ job.salary }}</p>
                        <p><strong>Status Available?:</strong> {{ job.available }}</p>

                        <a href="{{ url_for('job', id=job.id )}}">View Job</a>
                        <a href="{{ url_for('edit_job', id=job.id )}}">Edit Job</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>



{% endblock %}
